* {
  box-sizing: border-box
}

html,
body {
  margin: 0;
  padding: 0;
}

.header{
  min-height: 70px;
  text-align: center;
}

.form-type{
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

table td, table th {
  border: 1px solid white;
  padding: 10px;
}

table tr:nth-child(even){background-color: #bbbbbb;}

table th {
  text-align: center;
  background-color: #33b837;
  color: white;
}

.sort-up::after{
  content: '\1F811';
  color: white;
}
.sort-down::after{
  content: '\1F817';
  color: white;
}